.idea/*
*.iml
*.class
target
target/**
build/*
bin/*
tmp/*
/bin/
.settings/*
.classpath
.project
docker-compose.yml
/target/
logs/*

backup/*
data/Model
Dockerfile
docker-compose.yaml
*.zip
~$*
*.bak
srt-webapp/src/main/resources/static/bower_components/**

# fuseme-specific
.agent
score-db/
json-schema/
xsd2js-test/
backup-oagis-10.3.sql
scripts/
xsd/